$site-width: 1200px;

$color-white: #FFFFFF;
$color-black: #2D3236;
$color-gray: #808080;
$color-darkblue: #215398;
$color-lightblue: #F1F6FC;

$text__black: $color-black;
$text__white: $color-white;
$text__gray: $color-gray;
$background__white: $color-white;
$background__dark-blue: $color-darkblue;
$background__light-blue: $color-lightblue;

$breakpoints: (
        xxxl: 1600px,
);
